<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Admin pannel Cse Fest!</a>
        <form class="d-flex" method="get" action="/logout">
            <button id="login" type="button" class="btn btn-primary m-2 p-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Login
            </button>
            <button id="logout" type="submit" class="btn btn-danger m-2 p-2">
                Logout
            </button>
        </form>
    </div>
</nav>